@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300&family=Comfortaa:wght@400;700&family=Just+Another+Hand&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #6F42C1;
    font-family: 'Big Shoulders Display', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    margin: 0;
    padding: 5px;
    letter-spacing: 1px;
}
/* LOGO */
header {
    background-color: rgb(139, 206, 139);
    position:absolute;
    top: 0;
    width: 100vw;
    height: 25vh;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    z-index: -1;
}
header img {
    padding: 0;
    position: flex;
    height: 150px;
    width: 150px;
    margin: 0px;
    z-index: 2;
    opacity: 2;
}
/* NAVBAR */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300&family=Comfortaa:wght@400;700&family=Just+Another+Hand&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
/* body{
    background-color: #F3F1FF;
} */
li, a, button{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 1.4em;
    color: #6F42C1;
    text-decoration: none;
}
header{
    /* background-image: linear-gradient(#26596D, #4090AF); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(151, 227, 151, 0.8);
}
#logo{
    width: 85px;
    height: 90px;
}
.nav-links{
    transition: all 0.2s ease 0s;
}
.nav-links li{
    display: inline-block;
    padding: 0px 60px;
    
}
.nav-links li a{
    color: #6F42C1;
    transition: all 0.2s ease 0s;
    font-size: 20px;
}
.nav-links li a:hover{
    color: #fff;
}
button{
    padding: 9px 30px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
button:hover{
    background-color: plum;
}

/* Showcase */
#showcase {
    margin: 20px;
    margin-top: 220px;
    width: 90%;
    padding: 5px;
    backdrop-filter: blur(1, 2);
}
.show-container {
    background:inherit;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 90%;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px 12px 20px 10px;
    overflow: hidden;
    z-index: 1;
 }
 .show-container:before {
    content: '';
    background:inherit;
    position: absolute;
    margin: -20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 1500px rgba(255, 255, 255, .5);
    filter: blur(10px);
    z-index: -1;
}
.show-container p {
    background: radial-gradient(circle, rgba(111,66,193,0.0980392156862745) 100%, rgba(102,16,242,0.6274509803921569) 0%);
    background: blur;
    margin-bottom: 0;
    border-radius: 15px;
    padding: 5px 5px;
    color:rgb(255, 255, 255);
    font-size: 1.5rem
}

@media screen and (max-width: 1080px) {
    .nav-links li{
        padding: 0px 10px;
    }
}
@media screen and (max-width: 730px) {
    .nav-links {
        display: column;
        margin-bottom: 12px;
        
    }
    header{
        height: 16vh;
        display: block;
        text-align: center;
    }
    button {
        display: none;
    }
    .showcase {
        margin-top: 375px;
    }
} 




